= render 'shared/job_error_messages'

= f.label :title
= f.text_field :title, placeholder: "Enter Title"

= f.label :company
= f.text_field :company, placeholder: "Enter Company"

= f.label :industry
= f.select :industry, options_for_select(industry_options.sort)

= f.label :date_applied, "Date Applied"
= f.date_field :date_applied

= f.label :in_consideration
= f.radio_button :in_consideration, true
= f.label :no_longer_in_consideration
= f.radio_button :in_consideration, false
