<% provide(:title, 'JOBS') %>
<h1>JOBS</h1>
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Here is a listing of the jobs you have applied for:</div>

  <!-- Table -->
  <table class="table">
    <th>Title</th>
    <th>Company</th>
    <th>Industry</th>
    <th>Date Applied</th>
    <% @jobs.each do |j| %>
      <tr class="clickable_job_row" data-url="<%=job_path(j)%>">
        <td class="title"><%= j.title %></td>
        <td class="company"><%= j.company %></td>
        <td class="industry"><%= j.industry %></td>
        <td class="date_applied"><%= j.date_applied.strftime('%a %d %b %Y') %></td>
        <td class="in-consideration" style="display:none"><%= j.in_consideration %></td>
      </tr>
    <% end %><br>
  </table>
</div>
<div>
  <%= link_to "Add Job", new_job_path, class: "btn btn-large btn-primary" %>
</div>
<script>
</script>
