<div class="list-group">
  <a href"#" class="list-group-item active">
    <strong>JOB PROSPECT</strong>
  </a>
  <a href="#" class="list-group-item">
    <strong>Title:</strong>
    <span class="pull-right">
      <%= @job.title %>
    </span>
  </a>
  <a href"#" class="list-group-item">
    <strong>Company:</strong>
    <span class="pull-right">
      <%= @job.company %>
    </span>
  </a>
  <a href"#" class="list-group-item">
    <strong>Industry:</strong>
    <span class="pull-right">
      <%= @job.industry %>
    </span>
  </a>
  <a href"#" class="list-group-item">
    <strong>Date Applied:</strong>
    <span class="pull-right">
      <%= @job.date_applied.strftime("%B %-d, %Y") %>
    </span>
  </a>
  <a href"#" class="list-group-item">
    <strong>Still in Consideration?</strong>
    <span class="pull-right">
      <%= @job.in_consideration %>
    </span>
  </a>
</div>
<p>
  <%= render "contacts/show" %>
</p>
<p>
  <%= render "contacts/contact_form" %>
</p>

<div class="delete_job">
  <%= link_to "Delete job", job_path(@job), method: :delete, class:"btn btn-large btn-danger"%>
</div>
