<p>
  <strong>Job Title:</strong>
  <%= @job.title %>
</p>
<p>
  Company:
  <%= @job.company %>
</p>
<p>
  Industry:
  <%= @job.industry %>
</p>
<p>
  Date Applied:
  <%= @job.date_applied %>
</p>
<p>
  Still in Consideration?
  <%= @job.in_consideration %>
</p>
<div class="delete_job">
    <%= link_to "Delete job", job_path(@job), method: :delete, class:"btn btn-large btn-danger"%>
</div>
