<div class="list-group">
  <div class="list-group-item active">
    <strong>JOB PROSPECT</strong>
    <span class="pull-right">
      <%= link_to "Edit", edit_job_path(@job) %>
    </span>
  </div>
  <div class="list-group-item">
    <strong>Title:</strong>
    <span class="pull-right">
      <%= @job.title %>
    </span>
  </div>
  <div class="list-group-item">
    <strong>Company:</strong>
    <span class="pull-right">
      <%= @job.company %>
    </span>
  </div>
  <div class="list-group-item">
    <strong>Industry:</strong>
    <span class="pull-right">
      <%= @job.industry %>
    </span>
  </div>
  <div class="list-group-item">
    <strong>Date Applied:</strong>
    <span class="pull-right">
      <%= @job.date_applied.strftime("%B %-d, %Y") %>
    </span>
  </div>
  <div class="list-group-item" style="display:none">
  </div>
  <div class="list-group-item">
    <form action="">
      <input type="radio" name="consideration" value="in">in consideration
      <input type="radio" name="consideration" value="out">out of consideration
    </form>
  </div>
</div>
<p>
  <%= render partial: "contacts/show" %>
</p>
<p>
  <%= render "contacts/contact_form" %>
</p>

<div class="delete_job">
  <%= link_to "Delete job", job_path(@job), method: :delete, class:"btn btn-large btn-danger"%>
</div>
