<p>
  <strong>Job Title:</strong>
  <%= @job.title %>
</p>
<p>
  Company:
  <%= @job.company %>
</p>
<p>
  Industry:
  <%= @job.industry %>
</p>
<p>
  Date Applied:
  <%= @job.date_applied %>
</p>
<p>
  Still in Consideration?
  <%= @job.in_consideration %>
</p>
