= render 'shared/error_messages'

%p
  = f.label :name
  = f.text_field :name, placeholder: "Enter Name"
%p
  = f.label :email
  = f.text_field :email, placeholder: "Enter Email"
%p
  = f.check_box :employed
  = f.label :employed, "Currently employed?"
%p
  = f.label :password
  = f.password_field :password, placeholder: "Enter Password"
%p
  = f.label :password_confirmation, "Password confirmation"
  = f.password_field :password_confirmation, placeholder: "Confirm password"
