<button class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm">Add contact</button>

<div class="modal fade bs-example-modal-sm" id="myModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4>Add a New Contact</h4>
      </div>
      <div class="modal-body">
        <%= form_for(@contact, remote: true) do |f| %>
          <p>
            <%= f.label :name %>
            <%= f.text_field :name %>
          </p>
          <p>
            <%= f.label :position %>
            <%= f.text_field :position %>
          </p>
          <p>
            <%= f.label :email %>
            <%= f.text_field :email %>
          </p>
          <p>
            <%= f.label :phone_number %>
            <%= f.text_field :phone_number %>
          </p>
          <p>
            <%= f.hidden_field :job_id, value: @job.id %>
          </p>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" link_to 'new', contact, method="create">Save changes</button>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
