= f.label :name
= f.text_field :name, placeholder: "Enter Name"

= f.label :position
= f.text_field :position, placeholder: "Enter Position"

= f.label :email
= f.select :email, placeholder: "Enter email (optional)"

= f.label :phone_number, "Phone Number"
= f.date_field :phone_number, placeholder: "Enter Phone Number (optional)"
